<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>OneDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://reminderer20260912112516-hmcmdcc9cucpc2ar.australiaeast-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/008221bc-12f6-4844-92a1-3aa2838b95bb/resourcegroups/Reminderer20260912105944ResourceGroup/providers/Microsoft.Web/sites/Reminderer20260912112516</ResourceId>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishUrl>https://reminderer20260912112516-hmcmdcc9cucpc2ar.scm.australiaeast-01.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>