<!DOCTYPE html>
<html>
  <head>
    <title>Tort and Joie{% if page.title != 'Home' %}&nbsp;&bull;&nbsp;{{ page.title }}{% endif %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="{{ site.url }}{{ site.baseurl }}/assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/main.css" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/ie8.css" />
    <![endif]-->
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/ie9.css" />
    <![endif]-->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  </head>
  <body class="landing">
    <!-- Header -->
    <header id="header" class="alt">
      <h1><a href="index.html">Tort <strong>and</strong> Joie</a></h1>
      <a href="#nav">Menu</a>
    </header>
    <!-- Nav -->
    <nav id="nav">
      <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="/glossary.html">Glossary</a></li>
        <li><a href="/rules-of-fireage.html">Rules of Fireage</a></li>
        <li><a href="/videos.html">Videos</a></li>
      </ul>
    </nav>
    <!-- Banner -->
    <section id="banner">
      <div class="inner">
        <!--<i class="icon fa-diamond"></i>-->
        <img src="{{ site.url }}{{ site.baseurl }}/assets/images/sea-turtle-outline.png" />
        <h2>Not cool, not cool</h2>
        <!--
          <ul class="actions">
            <li><a href="#one" class="button big special">Continue</a></li>
          </ul>
          -->
      </div>
    </section>
    <div class="container">
      {{ content }}
    </div>
    <!-- Footer -->
    <footer id="footer">
      <div class="inner">
<!--
        <ul class="icons">
          <li><a href="#" class="icon fa-facebook">
            <span class="label">Facebook</span>
            </a>
          </li>
          <li><a href="#" class="icon fa-twitter">
            <span class="label">Twitter</span>
            </a>
          </li>
          <li><a href="#" class="icon fa-instagram">
            <span class="label">Instagram</span>
            </a>
          </li>
          <li><a href="#" class="icon fa-linkedin">
            <span class="label">LinkedIn</span>
            </a>
          </li>
        </ul>
-->
        <ul class="copyright">
          <li>Copyright &copy; 2007-2017 Tort and Joie</li>
          <li><a href="https://github.com/jaypalexa/tortandjoie">GitHub</a></li>
<!--
          <li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
          <li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
-->
        </ul>
      </div>
    </footer>
    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>
  </body>
</html>
